@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Amiri";
  src: url("./assets/fonts/Amiri-Bold.woff2") format("woff2"),
    url("./assets/fonts/Amiri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiri";
  src: url("./assets/fonts/Amiri-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/Amiri-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Amiri";
  src: url("./assets/fonts/Amiri-Italic.woff2") format("woff2"),
    url("./assets/fonts/Amiri-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiri";
  src: url("./assets/fonts/Amiri-Regular.woff2") format("woff2"),
    url("./assets/fonts/Amiri-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-BlackItalic.woff2") format("woff2"),
    url("./assets/fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Italic.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-MediumItalic.woff2") format("woff2"),
    url("./assets/fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-ThinItalic.woff2") format("woff2"),
    url("./assets/fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #07080a;
}
html,
body {
  @apply overflow-x-hidden;
}

.heroBG:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  /* left: 50%;
  top:50%; */
  transform: translate(-50%, -50%);
  background-image: url("../src/assets/images/HeaderLogo1.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain;  */
  opacity: 0.1;
  z-index: -2;
  animation: logoRotate 20s infinite linear;
}

.heroBG:after {
  content: "";
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: #07080a;
  background-image: url(/src/assets/images/favicon.svg);

  background-repeat: repeat;
  background-size: 4px;
  z-index: -1;
}

@media (max-width: 768px) {
  .heroBG:before {
    background-image: url("../src/assets/images/HeaderLogo4.svg");
  }
}
@media (max-width: 420px) {
  .heroBG:before {
    background-image: url("../src/assets/images/HeaderLogo3.svg");
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  /* letter-spacing: -0.02em; */
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Amiri", sans-serif;
}

h1 {
  font-size: 68px;
  font-weight: 900;
  line-height: 76px;
}
h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
}
h3 {
  font-size: calc(1.325rem + 0.7714285714vw);
}
h5 {
  font-size: calc(1.275rem + 0.2571428571vw);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}

.container {
  width: 100%;
  max-width: 1230px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .h2 {
    font-size: 60px;
    line-height: 68px;
  }
}

@media (max-width: 992px) {
  .h2 {
    font-size: 56px;
    line-height: 64px;
  }
}

@media (max-width: 576px) {
  .h2 {
    font-size: 52px;
    line-height: 58px;
  }
}

@layer utilities {
  .bg-gradient-45 {
    background-image: linear-gradient(0deg, #ac67fa, #7488ef 50%, #43dfe3);
  }
  .bg-gradient-90 {
    background-image: linear-gradient(90deg, #7653e6, #64c4e9);
  }
  /* Add more angles as needed */
}

.headerLogo {
  animation: logoRotate 5s infinite linear;
}

@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 68px;
  color: white;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.vertical-timeline {
  width: 100%;
  position: relative;
  padding: 2em 0;
}

.vertical-timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #ffffff;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns:before {
    left: 50%;
    margin-left: -2px;
  }
}

.vertical-timeline-element {
  position: relative;
  margin: 2em 0;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
    margin: 4em 0;
  }
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
}

.vertical-timeline-element-icon {
  transform: translateZ(0);
  backface-visibility: hidden;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  /* background: #fff; */
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #ddd;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
  }
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  visibility: visible;
  animation: cd-bounce-2 0.6s;
}

.vertical-timeline-element-content p {
  margin: 1em 0 0;
  line-height: 1.6;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns:before {
    left: 50%;
    margin-left: -2px;
  }
}

.left-side-class .vertical-timeline-element-content {
  transform: translateX(0);
  text-align: left;
}

.right-side-class .vertical-timeline-element-content {
  transform: translateX(125%);
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .right-side-class .vertical-timeline-element-content {
    transform: translateX(0);
    text-align: left;
  }
}

.heroHeadding {
  box-shadow:3px 3px 10px #ddd inset;
  background: #121215;
}

.heroHeadding:hover .aboutImage {
  filter: drop-shadow(2px 4px 6px white);
  transition: 0.5s linear;
  transform: scale(1.1);
}

.servicsCard:hover .servicesImages {
  transition: 0.5s linear;
  transform: scale(1.2);
}
.servicsCard:hover .cardShadow {

  box-shadow:3px 3px 12px #ddd inset;
  transition: 0.5s linear;
}
.servicsCard:hover::before {
  transform: scale(1.1);
  transition: 0.5s linear;

}